.graay {
  background-color: #32383e;
}
.con {
  width: 65%;
}
.text-25 {
  font-size: 12px;
}
.deep {
  background-color: #1c1e22;
  border: 0 solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
button {
  background-color: #3a3f44 !important;
  border: 1px solid #22241d !important;
}
.req {
  font-size: 12px;
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.bg-register-image {
  background: url(../../assets/img/gaming.ebaf2ffc84f4451d.jpg);
  background-position: cover;
  background-size: 100% 100%;
}
.border-0 {
  border: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.form-control {
  color: white !important;
}
