.w-35 {
  width: 35%;
}
.btn-dark2 {
  color: #aaa;
  background-color: #32383e;
  border-color: #32383e;
}
.btn-ftg-blue {
  color: #fff;
  background-color: #4799eb !important;
  border-color: #4799eb !important;
}
.con {
  width: 70%;
}
.he {
  font-size: 12px;
}
